@use "../base";

* {
  margin: 0;
}

.about-page {
  display: flex;
  height: 100vh;

  &__image {
    height: 100%;
    width: 55%;
    object-fit: cover;
  }

  &__header {
    background-color: white;
    position: relative;
    right: 1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
    width: 100%;
    color: white;
  }

  &__title {
    margin-bottom: 0.5em;
  }

  &__text {
    margin-bottom: 1em;
  }

  &__info {
    padding: 2em;
    margin: 0;
    border-radius: 0.5em;
    color: black;
  }

  &__project-info {
    margin: 2em 0;
  }
}

.image-container {
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
  justify-content: center;
  text-align: center;
}


.profile-image {
width: 150px;
height: 150px;
padding: 2em;
}