.info-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 12em;

  &__img {
    border-radius: 0.5em;
    width: 10.5em;
    height: 10em;
  }
}
