@use "../base";

.nav-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  width: 100%;
  align-items: center;
  height: 3em;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border: none;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em 1em;
    font-style: normal;
  }

  &__link {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: base.$button-color;
    }
  }

  &__item {
    list-style-type: none;
    margin: 0 1em;

    &-userIcon--button {
      border: none;
      background: none;
    }

    &--button {
      border: none;
      background: none;
      font-weight: bold;
      font-size: 1em;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        color: base.$button-color;
      }
    }
  }

  &__logo {
    margin-left: 2em;
    color: white;
  }
}
